# build output
dist/
.output/
.astro/
_site/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# environment variables
*.env
.env
.env.production

# editor/OS
.DS_Store
.idea
.vscode-test/
*.code-workspace

# misc caches
.eslintcache
.pnpm-store
.turbo/
.vercel
.netlify

# local tooling
.claude
