---
import "../styles/global.scss";

import "@fontsource/inter";
import "@fontsource/epilogue";

export interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!--
  Hi there!
  Checkout the source @ https://github.com/rjkilpatrick/kilpatrick.co.uk
 --><!DOCTYPE html>
<html lang="en-gb">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {title ? <title>{title}</title> : <title>John Kilpatrick</title>}
    <meta name="description" content="I'm John Kilpatrick, an Optical Engineer. I write about optics, physics, and technology.">
    <meta property="og:title" content="{title ? {title} : John Kilpatrick}">
    <meta property="og:description" content="Engineer, researcher, and writer. Exploring optics, science, and technology.">
    <meta property="og:image" content="/assets/img/rjkilpatrick.jpg">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://kilpatrick.co.uk/">

    {/* Meta */}
    <meta name="twitter:creator" content="rjkilpatrick1" />
    <meta name="yandex-verification" content="ab1e6cab6e467868" />
    <meta name="theme-color" content="hsl(359.6, 59%, 54%)" />
    <meta name="generator" content={Astro.generator} />

    {/* Icons */}
    <link rel="icon" type="image/x-icon" href="/favicon.ico" sizes="any" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
    <link rel="apple-touch-icon" href="/images/touch/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <style lang="scss" is:inline>
      /* VERY important styles go here */
      html,
      body {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }

      *,
      *:before,
      *:after {
        box-sizing: inherit;
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
